<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [userId=%X{userId:-anon}, traceId=%X{traceId:-brak}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ===================================================================== -->
    <!-- Appender nr 2: NOWY! Wysyłanie logów do Logstasha przez sieć TCP       -->
    <!-- ===================================================================== -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- Adres Logstasha. Używamy zmiennej środowiskowej z wartością domyślną. -->
        <!-- Dla IntelliJ będzie to 'localhost', dla Dockera 'logstash'. -->
        <destination>${LOGSTASH_HOST:-localhost}:5044</destination>

        <!-- To jest serce magii: ten enkoder zamieni każdy log na obiekt JSON. -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Możemy dodać niestandardowe pola, które pojawią się w każdym logu -->
            <customFields>{"app_name":"YourTurnHOMM"}</customFields>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
    <logger name="pl.oskarinio.yourturnhomm" level="debug"/>
</configuration>